In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm as tqdm

### 导入数据

In [2]:
data = pd.read_csv('data1.csv',encoding='utf-8')
data.head(10)

,platform_open_id,goods_num,price,is_member,discount_fee,outer_id,take_at,status,payment,member_id,order_payment,total_fee,goods_id
0,101ZX1xyfG/omvnxQPYI8YPFhoi2hfl26RoAPgzb9VqwG0=,1,3650.0,0,300.0,302945-01,2020-01-01 01:35:43,6,3350.0,0,3350.0,3350.0,520399672992
1,爱012Pr5yntLUcTKU0MtsjPGOs2DEMds1FAQI7fgfrP3PMg=,1,2690.0,0,600.0,227605-01,2020-01-01 08:55:17,6,2090.0,0,2090.0,2090.0,548452717637
2,朱01i4Rmip4x6V5VS/UZPBzc+Nnn6lnZ7cacExIx+8aylCY=,1,3990.0,1,400.0,226403-01,2020-01-01 09:48:35,6,3590.0,616297,3590.0,3590.0,564779472639
3,001bRbDk61o6cYW1XuaH8XgLgKHM0CMIQafAKaTQc17qGM=,1,3290.0,0,0.0,NaN,2020-01-01 09:56:04,6,3290.0,0,3290.0,3290.0,609664493135
4,t014Au7WHWPPI0OeT5DX13SQ5q8qGekDqre2uZnHtcQpY8=,1,3590.0,1,500.0,282846-01,2020-01-01 10:36:50,6,3090.0,220404,3090.0,3090.0,589083659427
5,莲01LF6zIyY7EH3xuSvbfZo7ltnn6lnZ7cacExIx+8aylCY=,1,3990.0,0,400.0,226403-01,2020-01-01 10:42:48,501,3590.0,0,3590.0,3590.0,564779472639
6,粉01UbFDeKuioQohILQR+wOsNm7XJ0Oc9YsnYNWwOnr6RWo=,1,2990.0,0,0.0,337173-01,2020-01-01 11:57:13,6,2990.0,0,2990.0,2990.0,609198131898
7,t01IVpMxupm69b7U2+nsTMgJJq8qGekDqre2uZnHtcQpY8=,1,3990.0,0,0.0,332873-01,2020-01-01 12:38:02,501,3990.0,0,3990.0,3990.0,608739665918
8,j01p2WEcqpLB97pTrpXeOF3YGdHwSigfMMQPj0dkBAC8Vk=,1,12298.0,0,0.0,NaN,2020-01-01 13:21:40,101,12298.0,0,12298.0,12298.0,43696478043
9,橘01NRMB2FbMyTAioDgFAKlTAq3Y2wWCx2gxb9BRyrBfqBc=,1,2690.0,1,600.0,227605-01,2020-01-01 14:02:07,6,2090.0,220661,2090.0,2090.0,548452717637

### 简单分析

In [10]:
# 看会员情况
is_member = data.groupby('is_member')['is_member'].count()
is_member

is_member
0    1753269
1    1005962
Name: is_member, dtype: int64

### 年月和日分析

In [11]:
date = data['take_at'].str.split(' ').str[0]
data['year-month-day']=date
data['year-month'] = date.str.split('-').str[0]+'-'+date.str.split('-').str[1]

In [12]:
data_last = data[['status','payment','year-month-day','year-month']]
data_last=data_last[data_last['status']==6]
data_last.head()

   status  payment year-month-day year-month
1       6      0.0     2020-01-01    2020-01
2       6    118.0     2020-01-01    2020-01
3       6    112.0     2020-01-01    2020-01
4       6    248.0     2020-01-01    2020-01
5       6    220.0     2020-01-01    2020-01

In [13]:
# 看日期情况
date_= data_last.groupby('year-month-day')['year-month-day'].count()
date_

year-month-day
2020-01-01    2725
2020-01-02    4109
2020-01-03    2138
2020-01-04    1090
2020-01-05    1998
              ...
2021-06-26     868
2021-06-27     473
2021-06-28     514
2021-06-29     495
2021-06-30     589
Name: year-month-day, Length: 545, dtype: int64

In [14]:
data_day = data_last.groupby('year-month-day')
list(data_day)[0][1]

         status  payment year-month-day year-month
1             6      0.0     2020-01-01    2020-01
2             6    118.0     2020-01-01    2020-01
3             6    112.0     2020-01-01    2020-01
4             6    248.0     2020-01-01    2020-01
5             6    220.0     2020-01-01    2020-01
...         ...      ...            ...        ...
2745853       6    224.0     2020-01-01    2020-01
2745854       6      0.0     2020-01-01    2020-01
2745855       6      0.0     2020-01-01    2020-01
2745856       6    298.0     2020-01-01    2020-01
2745857       6     92.0     2020-01-01    2020-01

[2725 rows x 4 columns]

In [15]:
data_day = data_last.groupby('year-month-day')
# 每一天的GMV数据(status=6)
gmv_day= []
for i in tqdm(range(len(list(data_day)))):
    gmv_1=list(data_day)[i][1]['payment'].sum()
    gmv_day.append(gmv_1)
gmv_day

HBox(children=(FloatProgress(value=0.0, max=545.0), HTML(value='')))

[306092.41000000003,
 393417.7,
 220065.0,
 12987.0,
 7284.0,
 4474541.46,
 1061425.7399999998,
 1152569.92,
 1598186.12,
 3379186.79,
 327625.91,
 392686.77,
 434471.33,
 508432.99,
 514651.15,
 431193.87,
 123782.96,
 73205.6,
 36340.8,
 21958.2,
 9664.699999999999,
 8060.9,
 6385.8,
 7991.3,
 6630.0,
 10229.0,
 9186.0,
 12270.9,
 12575.0,
 12452.7,
 13426.0,
 14477.0,
 20746.0,
 22018.9,
 32271.9,
 33019.9,
 28578.0,
 39600.5,
 140117.1,
 118219.4,
 158990.0,
 121341.29999999999,
 137847.40000000002,
 61964.600000000006,
 6055.0,
 370794.44999999995,
 198289.66999999998,
 206175.74,
 257402.95,
 222312.81,
 87835.9,
 149007.9,
 121677.79999999999,
 203482.2,
 158541.7,
 130558.4,
 1964097.27,
 179206.69999999998,
 166575.4,
 100620.6,
 28154.0,
 1321.0,
 1374544.85,
 493457.25,
 622499.05,
 1544439.6099999999,
 120480.9,
 83899.9,
 239171.8,
 173491.35,
 151370.52,
 132502.6,
 160788.80000000002,
 120611.6,
 131965.9,
 37162.7,
 190815.5,
 228415.6,
 224707.1,
 196730.54,
 147407.09999999998,
 31253.7,
 168610.6,
 136566.0,
 128682.70000000001,
 98785.3,
 133375.9,
 151441.9,
 139264.0,
 138882.7,
 157423.7,
 160315.0,
 206736.9,
 174224.0,
 39631.0,
 262793.4,
 207542.69999999998,
 246449.14,
 160482.3,
 246410.9,
 192815.9,
 227391.0,
 179608.9,
 253191.8,
 52451.399999999994,
 265499.4,
 196712.7,
 214097.30000000002,
 148483.8,
 213089.0,
 35628.0,
 196259.3,
 161715.7,
 210188.30000000002,
 188279.8,
 186582.6,
 1098957.2,
 291085.30000000005,
 419664.8,
 336140.9,
 349365.69999999995,
 554365.5,
 58345.0,
 2016966.86,
 694928.77,
 839114.5700000001,
 174945.8,
 56416.5,
 2297393.2,
 269401.1,
 242309.8,
 37974.8,
 330004.5,
 1145668.2,
 248309.5,
 270861.69999999995,
 175594.0,
 518617.0,
 358002.9,
 194296.8,
 189596.6,
 197754.9,
 188847.8,
 220624.88,
 184496.99,
 207293.53,
 223489.53,
 195400.46,
 45309.81999999999,
 62532.97,
 4392063.780000001,
 1418512.99,
 1603448.12,
 717735.96,
 595156.1499999999,
 288967.5,
 265714.7,
 313273.15,
 511612.9,
 649998.1,
 374665.1,
 1484985.23,
 13302.0,
 31873.08,
 1450282.06,
 4373242.97,
 3049285.3,
 3719336.25,
 1823469.8199999998,
 2465368.33,
 248556.5,
 197489.7,
 162943.8,
 169091.19,
 171260.01,
 165015.6,
 162564.81,
 168873.51,
 198681.8,
 204243.5,
 176113.51,
 170096.5,
 177615.3,
 203370.6,
 198450.3,
 205766.30000000002,
 208516.91,
 2680693.9,
 152002.83,
 538199.1699999999,
 332501.33,
 397078.98,
 169545.8,
 162070.6,
 164262.3,
 157094.5,
 137356.6,
 274193.3,
 545909.9,
 262618.69999999995,
 341105.69999999995,
 359901.3,
 325102.69999999995,
 310586.69999999995,
 385888.4,
 294224.69999999995,
 361320.6,
 281558.48,
 257407.59999999998,
 288621.6,
 145331.09999999998,
 95380.0,
 392326.13,
 317691.75,
 306811.19,
 110022.95,
 756345.36,
 462521.26999999996,
 634363.77,
 250848.02999999997,
 285332.75,
 163219.99,
 188260.2,
 196726.89999999997,
 182139.65,
 195886.05,
 119996.45,
 227152.56,
 205106.46,
 204441.15,
 138907.1,
 132540.15,
 226663.87999999998,
 220652.85,
 237389.75,
 189174.05,
 150650.65,
 163333.75,
 119158.70000000001,
 79502.9,
 143472.59999999998,
 91725.7,
 105811.12,
 110875.07,
 107771.06,
 89961.03,
 76374.72,
 78224.16999999998,
 9726.98,
 27047.48,
 1771964.13,
 806906.3899999999,
 889490.8500000001,
 88658.2,
 79739.25,
 56743.3,
 69792.5,
 146212.09,
 114104.19,
 154229.6,
 169012.72999999998,
 66775.70000000001,
 63559.25,
 138353.81,
 119947.59999999999,
 124803.66,
 331916.1,
 245723.39999999997,
 88407.25,
 77054.8,
 60921.350000000006,
 83831.29999999999,
 78386.72,
 57592.99,
 189455.69,
 89936.12,
 51895.81,
 97007.93,
 68047.5,
 62438.9,
 31495.300000000003,
 38090.05,
 38383.0,
 34431.3,
 36909.399999999994,
 37175.8,
 39015.33,
 35770.0,
 45351.95,
 37009.600000000006,
 49539.35,
 37974.45,
 191357.34000000003,
 85723.34,
 150048.42,
 99609.48999999999,
 97369.58,
 123456.51000000001,
 103871.58,
 113521.31999999999,
 79315.45,
 69391.61,
 125815.30000000002,
 3467834.4899999998,
 1255042.96,
 1208668.29,
 1138536.3199999998,
 642748.55,
 373809.57999999996,
 249722.60000000003,
 146369.34000000003,
 317223.55,
 322080.63,
 6326132.268,
 70424.07999999999,
 47394.3,
 49799.15,
 76188.55,
 63879.0,
 65853.55,
 88432.6,
 59010.7,
 43995.55,
 52537.8,
 63104.25,
 47225.2,
 50141.4,
 49777.7,
 48071.45,
 43662.55,
 40354.3,
 52127.45,
 71916.25,
 53485.25,
 45231.6,
 50628.35,
 47432.6,
 44432.75,
 59044.45,
 45436.3,
 6035.55,
 8634.949999999999,
 987839.94,
 692078.3200000001,
 865184.0800000001,
 42694.3,
 38206.950000000004,
 40559.5,
 33578.99,
 111372.13,
 58405.270000000004,
 69254.69999999998,
 60607.15,
 55687.85,
 84143.03,
 47742.600000000006,
 48480.05,
 30503.550000000003,
 26619.5,
 23416.4,
 39001.65,
 51223.520000000004,
 47715.0,
 47695.25,
 88482.75,
 67103.75,
 62031.07,
 58571.4,
 85604.11,
 172532.90999999997,
 122850.84999999999,
 127893.34,
 216179.49,
 314103.32,
 345189.95999999996,
 365038.16,
 272084.36,
 304171.05999999994,
 236042.71,
 202932.90999999997,
 248698.34000000003,
 204504.1,
 35636.18,
 3363196.2199999997,
 1152196.1099999999,
 901856.6399999999,
 2823293.85,
 1596628.01,
 2141145.16,
 259138.62,
 305309.58999999997,
 444505.24,
 537296.7,
 596814.24,
 645808.3999999999,
 304944.95,
 1413722.39,
 365418.48,
 249561.39999999997,
 203289.94,
 185988.59999999998,
 142339.1,
 85220.59999999999,
 72145.85,
 42394.15,
 16904.75,
 19740.05,
 21946.199999999997,
 27080.95,
 29991.65,
 38500.56,
 39602.99,
 58107.65,
 62201.05,
 76386.5,
 82377.41999999998,
 43439.08,
 111775.19,
 100094.10999999999,
 89079.84,
 93370.52000000002,
 87028.28,
 146031.53,
 118939.57,
 76232.20000000001,
 53690.65,
 9205.570000000003,
 1323811.0499999998,
 435507.14,
 347296.22,
 458849.58,
 28657.25,
 32986.22,
 53187.229999999996,
 77921.0,
 77270.04,
 96078.04999999999,
 109575.85,
 121684.29,
 84149.82,
 332660.49,
 238330.12,
 134497.34,
 122968.63,
 135117.77000000002,
 108144.79000000001,
 110405.60999999999,
 122429.91,
 136823.82,
 128902.62,
 140009.44,
 160514.38,
 130912.2,
 116511.27,
 121389.25,
 802068.0099999999,
 219621.45,
 157428.15999999997,
 180939.46,
 178112.82,
 184261.84,
 158415.85,
 145570.27,
 168346.27000000002,
 163275.11,
 162550.59,
 161842.56,
 148098.94999999998,
 337514.91,
 276175.05,
 511786.55000000005,
 165395.52000000002,
 149943.91,
 146695.87,
 152741.25,
 151377.41999999998,
 145168.15,
 186976.72999999998,
 191090.75,
 184741.96,
 249399.91,
 189668.49,
 161926.76,
 80694.43,
 1029969.2499999999,
 639695.99,
 479408.52,
 513594.22000000003,
 785236.94,
 164736.14999999997,
 148832.7,
 170825.53999999998,
 862441.8799999999,
 3206771.7399999998,
 251351.25,
 258393.75,
 154835.31,
 190748.59999999998,
 441295.15,
 323459.72,
 336895.89,
 236093.30000000002,
 279993.66000000003,
 230162.53999999998,
 216872.80000000002,
 261558.75,
 263559.67000000004,
 308140.26,
 304663.91000000003,
 285157.43999999994,
 336930.49,
 275176.67999999993,
 254924.26,
 89254.3,
 273997.81,
 6780188.230000001,
 1685788.07,
 3273893.2199999997,
 947358.32,
 1270571.6099999999,
 3471640.41,
 354089.48,
 344283.52,
 410434.52,
 418774.14,
 333906.24,
 365814.79000000004,
 261862.25,
 212566.45,
 60683.1,
 3084199.2700000005,
 992255.7,
 1297729.41,
 544062.56,
 848421.31,
 189943.65,
 198285.2,
 133900.53,
 134016.1,
 124394.06,
 110831.5,
 63668.2,
 65061.59999999999,
 73363.3,
 64704.6]

In [16]:
# 由于一共547天,不是7的整数倍，所以取到前546天的数据作为周的数据来源
gmv_week=[]
m,n=0,0
for i in range(len(gmv_day)):
    m+=gmv_day[i]
    n+=1
    if n%7==0:
        gmv_week.append(m)
        n=0
        m=0
print(len(gmv_week))
gmv_week

77

[6475813.3100000005,
 7793159.83,
 1210797.28,
 60753.9,
 127967.5,
 639866.2,
 1238529.8099999998,
 1073416.7099999997,
 3814519.8200000003,
 3277439.86,
 925217.62,
 1133690.64,
 947856.2,
 1297692.1400000001,
 1312352.2,
 1269769.5,
 2556473.7,
 4849227.3,
 3408445.6999999997,
 2911350.0999999996,
 1412104.23,
 8435004.100000001,
 2999387.6,
 14122306.89,
 5238179.350000001,
 1245589.23,
 3826416.14,
 1920752.6800000002,
 2246188.2,
 2179608.08,
 2123908.48,
 2181272.91,
 1273629.42,
 1320405.0799999998,
 758317.1500000001,
 2860204.8999999994,
 1444740.3800000001,
 836682.35,
 966240.9199999999,
 616374.9400000001,
 255500.18000000005,
 482726.03,
 767192.3499999999,
 7908037.519999999,
 7805762.048,
 450557.85000000003,
 354853.35,
 357405.74999999994,
 1198856.54,
 1823674.27,
 424320.64999999997,
 266174.87,
 657176.84,
 1944659.69,
 5443206.57,
 8471877.11,
 4113566.5599999996,
 748282.99,
 234970.05,
 565353.19,
 584498.32,
 2680294.6900000004,
 899339.5399999999,
 971894.17,
 935062.98,
 1880847.59,
 1287198.66,
 1554115.5699999998,
 1308972.75,
 3693335.5,
 5053452.169999999,
 2038648.8599999999,
 1976883.32,
 12633222.57,
 7217151.999999999,
 5311287.800000001,
 3346358.7600000002]

In [17]:
data_month = data_last.groupby('year-month')
# 每一月的GMV数据(status=6)
gmv_month= []
for i in tqdm(range(len(list(data_month)))):
    gmv_2=list(data_month)[i][1]['payment'].sum()
    gmv_month.append(gmv_2)
gmv_month

HBox(children=(FloatProgress(value=0.0, max=18.0), HTML(value='')))

[15578978.02,
 5184630.49,
 7659113.7700000005,
 6732593.94,
 12884370.580000002,
 31391013.909999996,
 10664506.210000003,
 7187744.69,
 6353939.08,
 2395387.13,
 16532064.408,
 3862371.53,
 18296839.550000004,
 4208683.78,
 5623270.12,
 6233218.25,
 13574978.469999997,
 28116691.34]

In [18]:
print(f"gmv_day_std:{np.std(gmv_day,ddof=1):.4f}----")
print(f"gmv_week_std:{np.std(gmv_week,ddof=1):.4f}----")
print(f"gmv_month_std:{np.std(gmv_month,ddof=1):.4f}----")

gmv_day_std:729132.3154----
gmv_week_std:2800920.9886----
gmv_month_std:8206225.7566----

##创建次日比本日高的数据（创建次周比本周高的数据，创建次月比本月高的数据）

In [22]:
# 创建次日比本日高的数据
up_day=[]
for i in range(len(gmv_day)):
    if i>=len(gmv_day)-1:
        continue
    else:
        up_day.append(gmv_day[i+1]-gmv_day[i])

# 创建次周比本周高的数据
up_week=[]
for i in range(len(gmv_week)):
    if i>=len(gmv_week)-1:
        continue
    else:
        up_week.append(gmv_week[i+1]-gmv_week[i])
        
# 创建次月比本月高的数据
up_month=[]
for i in range(len(gmv_month)):
    if i>=len(gmv_month)-1:
        continue
    else:
        up_month.append(gmv_month[i+1]-gmv_month[i])     
print(f"-----up_day数据长度：{len(up_day)}-----up_week数据长度：{len(up_week)}----up_month数据长度：{len(up_month)}")

-----up_day数据长度：546-----up_week数据长度：77----up_month数据长度：17

In [19]:
# 画图
from pyecharts.charts import Line
from pyecharts import options as opts
# 导入输出图片工具# 使用snapshot-selenium 渲染图片
from pyecharts.render import make_snapshot
from snapshot_selenium import snapshot


# month_list=pd.period_range('2020-01', periods=18, freq='M')
# month_list = [str(month_list[i]) for i in range(len(month_list))]

def line_charts(data,x_name,y_name,title) -> Line:
    line = (
        Line()
        .add_xaxis(month_list)
        .add_yaxis(
            "GMV值",
            data
        )
        .set_global_opts(title_opts=opts.TitleOpts(title=title)
                         ,yaxis_opts=opts.AxisOpts(name=y_name)
                         ,xaxis_opts=opts.AxisOpts(name=x_name),)
         .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False), # 是否显示标签
        )
    )
    return line
# # 天的gmv
line_day = line_charts(gmv_day,x_name='day',y_name='gmv_num',title='gmv_day_analyse')
line_day.render("gmv_day1分析.html")

# # # 周的GMV
line_week = line_charts(gmv_week,x_name='week',y_name='gmv_num',title='gmv_week_analyse')
line_week.render("gmv_week1分析.html")
# # 输出保存为图片
# make_snapshot(snapshot, "gmv_week分析.html", "gmv_week分析.png")

# # 月的GMV
line_month = line_charts(gmv_month,x_name='month',y_name='gmv_num',title='gmv_month_analyse')
line_month.render("gmv_month1分析.html")
# # 输出保存为图片
# make_snapshot(snapshot, "gmv_month分析.html", "gmv_month分析.png")

'E:\\py_\\out_work\\YJF_jp_work\\gmv_month1分析.html'

In [24]:
# 次日比本日高的数据（创建次周比本周高的数据，创建次月比本月高的数据）:画图
# up_day的gmv
line_day_up = line_charts(up_day,x_name='day',y_name='gmv_num',title='day_up_gmv_analyse')
line_day_up.render("day_up_gmv分析.html")
# up_week的GMV
line_week_up = line_charts(up_week,x_name='week',y_name='gmv_num',title='week_up_gmv_analyse')
line_week_up.render("week_up_gmv分析.html")
# up_month的GMV
line_month_up = line_charts(up_month,x_name='month',y_name='gmv_num',title='month_up_gmv_analyse')
line_month_up.render("month_up_gmv分析.html")

'E:\\py_\\out_work\\YJF_jp_work\\month_up_gmv分析.html'